<!DOCTYPE html>

<html>
<head>
<script src="libs/jquery-1.11.1.min.js"></script>
<script src="jatos.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
	<div style="text-align: center">
		<h1>These data come from the study session :)</h1>
		<p id="textToSet"></p>
		<p>Press any key to continue</p>
	</div>
	<script>
		// What todo when jatos.js is finished initializing
		jatos.onLoad(function() {
			// Set text with string from study session data
			$('#textToSet').text(jatos.studySessionData);
			// Wait for any key press and start next component
			$(document).keydown(function(event) {
				jatos.startNextComponent();
			});
			jatos.addAbortButton();
		});
	</script>
</body>
</html>
