<!DOCTYPE html>

<html>
<head>
<script src="libs/jquery-1.11.1.min.js"></script>
<script src="jatos.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
	<div style="text-align: center">
		<h1>Put some data into the study session</h1>
		<textarea id="sessionTextArea" maxlength="20" placeholder="Enter text here ..."></textarea>
		<p>Press enter to continue</p>
	</div>
	<script>
		// What todo when jatos.js is finished initializing
		jatos.onLoad(function() {
			// Wait for enter key press and start next component
			$(document).keydown(function(event) {
				if (event.keyCode == 13) {
					// Put data from text area into the study session
					jatos.studySessionData = $('#sessionTextArea').val();
					jatos.startNextComponent();
				}
			});
			jatos.addAbortButton();
		});
	</script>
</body>
</html>
